<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="com.app.mftinsatller" >

    <uses-permission android:name="android.permission.INSTALL_PACKAGES"></uses-permission>
    <uses-permission android:name="android.permission.DELETE_PACKAGES"></uses-permission>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />









    <!--
      IMPORTANT: Change "com.parse.tutorials.pushnotifications.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="com.app.mftinsatller.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.app.mftinsatller.permission.C2D_MESSAGE" />


    <!-- replace @drawable/push_icon with your push icon identifier -->
    <meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/icon"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- appnext Interstial Video starts -->

        <activity android:name="com.appnext.appnextinterstitial.InterstitialActivity"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <service android:name="com.appnext.core.DownloadService" />

        <activity
            android:screenOrientation="landscape"
            android:name="com.appnext.appnextinterstitial.FullscreenActivity"
            android:hardwareAccelerated="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- appodeal ends -->



        <activity
            android:theme="@style/AppTheme.Base"
            android:name=".MainActivity"

            android:label="@string/app_name" >

        </activity>

        <activity
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:name=".LoginScreen"

            android:label="@string/app_name" >

        </activity>


        <activity
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:name=".RegisterationScreen"

            android:label="@string/app_name" >

        </activity>


        <activity
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:name=".RegistrationVerification"

            android:label="@string/app_name" >

        </activity>


        <activity
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
            android:name=".ForgotPasswordScreen"

            android:label="@string/app_name" >

        </activity>



        <activity android:name=".SplashScreen"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
           >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <activity android:name=".Aboutus" />


        <!-- For push notification starts-->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
                -->
                <category android:name="com.app.mftinsatller" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.ParsePushBroadcastReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <!-- For push notification ends-->




    </application>

</manifest>
